<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> County wise Statistics
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="tblZipTable">
                        <thead>
                            <tr>
                                <th>County Name</th>
                                <th>City</th>
                                <th>Zip Code</th>
                                <th>Average Score</th>
                                <th>latitude</th>
                                <th>longitude</th>
                                <th>State</th>
                                <th>State Short</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let score of ZipScoreData">
                                <td>{{score.place_name}}</td>
                                <td>{{score.City}}</td>
                                <td>{{score.Zip}}</td>
                                <td>{{score.Avg_Score}}</td>
                                <td>{{score.lat}}</td>
                                <td>{{score.lng}}</td>
                                <td>{{score.State}}</td>
                                <td>{{score.State_code}}</td>
                            </tr>
                            <tr>
                                <td colspan="8">
                                    <button class="btn-default btn form-control" id="btnLoad" (click)="loadMore()">Load More</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-8">
                <div id="morris-bar-chart"></div>
            </div>
        </div>
    </div>
</div>