/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
#tblZipTable
{
    font-weight: normal;
    max-height: 300px;
    scroll-behavior: auto;
}