<div id="page-wrapper">
        <dash-kpi>Loading KPI</dash-kpi>
        <div class="row">
            <div class="col-lg-8">
                <dash-chart-area>Loading Area Chart..</dash-chart-area>
                <dash-chart-bar>..County wise Stats Loading..</dash-chart-bar>
                <dash-timeline class="hide"></dash-timeline>
            </div>
            <div class="col-lg-4">
                <dash-notifications>Loading Notifications..</dash-notifications>
                <dash-chart-donut>..City Wise Stats Loading..</dash-chart-donut>
                <dash-chat class="hide">Loading Chat..</dash-chat>
            </div>
        </div>
    </div>