<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-cutlery fa-fw"></i>Top Score Restaurants
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="list-group">
            <a href="#" class="list-group-item"  *ngFor="let score of scores">
                                    <i class=""></i> {{score.name}}
                                    <span class="text-muted small"><em>{{score.address}}</em>
                                    </span>
                                    <span class="pull-right text-muted"><em>{{score.ins_Score}}</em>
                                    </span>
                                </a>
           
        </div>
        <!-- /.list-group -->
        <a href="#" class="btn btn-default btn-block hide">View All Alerts</a>
    </div>
    <!-- /.panel-body -->
</div>